.agents/.10x-cli-manifest.json
.agents/skills/10x-*
.agents/prompts
.cursor/rules
.cursor/skills
.claude/prompts
.claude/commands
.claude/rules
.claude/skills

# from 10x-astro-starter
dist/
.astro/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.production
.dev.vars
.wrangler/
.DS_Store
.idea/

.pnpm-store

# stryker temp files
.stryker-tmp
reports
